<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>ML API</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>


</head>

<body>
    <div class="login">
        <h1>Boston House Price Prediction</h1>

        <!-- Main Input For Receiving Query to our ML -->
        <form action="{{ url_for('predict')}}" method="post">
            <label for="CRIM">Per capita Crime Rate in Boston</label>
            <input type="text" name="CRIM" required="required" /><br>
            <label for="ZN">proportion of residential land zoned for lots</label>
            <input type="text" name="ZN" required="required" /><br>
            <label for="INDUS">proportion of non-retail business acres per town</label>
            <input type="text" name="INDUS" required="required" /><br>
            <label for="CHAS">Charles River dummy variable</label>
            <input type="text" name="CHAS" required="required" /><br>
            <label for="NOX">nitric oxides concentration</label>
            <input type="text" name="NOX" required="required" /><br>
            <label for="RM">average number of rooms per dwelling</label>
            <input type="text" name="RM" required="required" /><br>
            <label for="Age">proportion of owner-occupied units built prior to 1940</label>
            <input type="text" name="Age" required="required" /><br>
            <label for="DIS">weighted distances to five Boston employment centres</label>
            <input type="text" name="DIS" required="required" /><br>
            <label for="RAD">index of accessibility to radial highways</label>
            <input type="text" name="RAD" required="required" /><br>
            <label for="TAX">full-value property-tax rate per $10,000</label>
            <input type="text" name="TAX" required="required" /><br>
            <label for="PTRATIO">pupil-teacher ratio by town</label>
            <input type="text" name="PTRATIO" required="required" /><br>
            <label for="B">1000(Bk - 0.63)^2 where Bk is the proportion of black people by town</label>
            <input type="text" name="B" required="required" /><br>
            <label for="LSTAT">% lower status of the population</label>
            <input type="text" name="LSTAT" required="required" /><br>


            <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        </form>

        <br>
        <br>


    </div>
    {{prediction_text}}

</body>

</html>